


#particles-js{

width: 100%;
height: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
}

body{
	background: url("/image/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Segoe UI", Georgia, Serif;
}

h1{
	font-size: 60px;
}

.btext{
	 position:fixed;
    top: 50%;
    left: 50%;
    width:50em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -25em; /*set to a negative number 1/2 of your width*/
    text-align: center;
    color: #ffffff;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
.btn {
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-size:20px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px; 
  position: relative;
  border-radius: 10px;
  text-decoration: none;
  vertical-align: middle;
  width: 100%; 
  
  @media (min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;
  
    &:nth-of-type(even) {
      margin-right: 0;
    }
  }
  
  @media(min-width: 600px) {
  
    &:nth-of-type(even) {
      margin-right: 2.5em;
    }
    
    &:nth-of-type(5) {
      margin-right: 0;
    }
    
  }
  
  &:hover { text-decoration: none; }
  
}

.btn-start {
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid #a640ef;
	overflow: hidden;
}
.btn-start a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.btn-start span {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-start:hover{
	background-color: rgba(255,255,255,0.2);
}
.btn-start:hover > span{
	text-decoration-color: #fff;
	-webkit-transform: translate(0px,-40px);
	transform: translate(0px,-40px);
}
.btn-start::after{
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transform: translate(0, 30%);
	transform: translate(0, 30%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;	
}
.btn-start:hover::after{
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
